*{
  margin: 0px;
  padding: 0px;
}
.product-card{
  /* background-color: lavender; */
  /* border: 3px solid grey; */

  width: 15%;
  margin: 18px;
  border-radius: 10px;
  padding: 25px;
  float: left;
  height: calc(100vh/1.7);
  box-shadow: 3px 3px grey;
}
.product-card-image{
  width: 100%;
  height: 230px;
}
.product-card-price{
  padding-top: 5px;
  margin-top: auto;
}
.product-card-title{
  padding-top: 15px;
  height: 150px;
}


